body {
  font-family: Arial, sans-serif;
}
 
.logo {
  width: 400px;
}
 
.link {
  text-decoration: none;
  color: black;
}
 
.link:hover {
  color: var(--bs-primary);
}
 
.article-input-group {
  max-width: 300px;
}

.article-container {
  container-type: inline-size;
}
 
.article-row {
  flex-direction: column;
}
 
@container (min-width: 680px) {
  .article-row {
    flex-direction: row;
  }
}